CardActivity.xcodeproj/project.xcworkspace/xcshareddata
CardActivity.xcodeproj/project.xcworkspace/xcuserdata/satrio.wicaksono.xcuserdatad
CardActivity.xcodeproj/project.xcworkspace/contents.xcworkspacedata
CardActivity.xcodeproj/xcshareddata/xcschemes/CardActivity.xcscheme
CardActivity.xcodeproj/xcuserdata/satrio.wicaksono.xcuserdatad/xcschemes
CardActivity.xcodeproj/xcuserdata/satrio.wicaksono.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
